<div class="location-sec-bdy" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <div class="row">
      <div class="col-xl-12">
        <div class="loc-heading">
          <h3>Industry </h3>
        </div> 
      </div>
    </div>
    <div class="search-sec-bdy">
      <div class="row align-items-center">
       <div class="col-lg-6 col-sm-12">
          <div class="d-flex  search-filter-main" role="search">
             <img src="assets/images/search-grey.svg" alt="icon" class="img-fluid">
             <input class="form-control" type="search" [(ngModel)]="searchIndustry" (ngModelChange)="this.searchValue.next($event)" placeholder="Search here . . ." aria-label="Search">
          </div>
       </div>
       <div class="col-lg-6 col-sm-12 text-end">
          <a routerLink="add" class="btn btn-create " >
                        <i class="fa-solid fa fa-plus"></i> Add Industry </a>
       </div>
    </div>
    </div>
    <div class="table-wrapper">
                        <div class="table-responsive">
                          <table class="table table-tamplate-style table-user">
                            <thead>
                              <tr>                                                                   
                                <th scope="col">Name Of Industry</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email </th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let industry of industryList;let i = index">
                                 
                                  <td class="fonts-n3 user-img-desc">
                                    <!-- <span class="image-user"><img src="assets/images/Ellipseu1.png" alt="Profile image 1" class="user_img"></span> -->
                                    <span class="image-user-name"> {{industry?.name}}</span>
                                  </td>
                                  <td class="fonts-n3">
                                    <span class="txt-tb">{{industry?.poc_name}}</span>
                                  </td>
                                  <td class="fonts-n3">
                                    <span class="txt-tb">{{industry?.poc_phone}}</span>
                                  </td>
                                  <td class="fonts-n3">
                                    <span class="txt-tb">{{industry?.poc_email}}</span>
                                  </td> 
                                  <td class="status-font background-grey-table">
                                    <div class="statuslabel completed-bages" *ngIf="industry?.status == 1">Active </div>
                                    <div class="statuslabel completed-bages" *ngIf="industry?.status == 0">Deactive </div>
                                  </td>
                                  <td class="action_button">
                                    <div class="actiondelete-button">
                                      <a routerLink="edit" [queryParams]="{id:industry?.id}">
                                        <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">
                                        <img src="assets/images/edit-2white.svg" class="img-fluid selected-white-icon">
                                      </a>
                                      <a (click)="onDeleteIndustry(industry?.id)">
                                        <img src="assets/images/trash-2.svg" class="img-fluid unselected-icon">
                                        <img src="assets/images/trash-2white.svg" class="img-fluid selected-white-icon">
                                      </a>
                                    </div>
                                  </td>
                              </tr>  
                              <tr class="text-center" *ngIf="industryList?.length == 0">
                                <td colspan="7">
                                    <button class="btn btn-add-doc">No Record Found</button>
                                </td>
                            </tr>                           
                            </tbody>
                          </table>
                        </div>
                      
                      </div>
  </div>