<div class="location-sec-bdy">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading clb">
                <h3>{{editLocation ? 'Edit' : 'Create' }} Location </h3>
                <div class="on-off-bdy">
                    <div class="inactact-pop-bdy">
                      <label class="form-check-label inactive-txt">inactive</label>
                       <div class="form-check form-switch">                          
                          <input class="form-check-input " type="checkbox" role="switch" checked="">
                          <label class="form-check-label active-txt">Active</label>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-md-content">					
                <div class="create-form-wrap">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="create-form-he">
                                <h2>General Information</h2>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="addLocationForm" >
                    <div class="row">
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Location Name*</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" placeholder="Enter location name" formControlName="name" >
                                    <div *ngIf="formData['name'].invalid && (formData['name'].dirty || formData['name'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['name'].errors?.['required']">
                                            Name required
                                        </ng-container>
                                        <ng-container *ngIf="formData['name'].errors?.['minlength']">
                                            Name must contain atleast 2 characters
                                        </ng-container>
                                        <ng-container *ngIf="formData['name'].errors?.['pattern']">
                                            Valid name required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Logo</label>
                                <div class="form-group">
                                    <div class="form">
                                        <div class="file-upload-wrapper" [attr.data-text]="logoName != '' ? logoName :'Select your file!'">
                                          <input name="file-upload-field" type="file" class="file-upload-field" formControlName="logo" (change)="convertImageToBase64($event)" value="">
                                        </div>
                                    </div>
                                    <div *ngIf="formData['logo'].invalid && (formData['logo'].dirty || formData['logo'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['logo'].errors?.['required']">
                                            Logo required
                                        </ng-container>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">About</label>
                                <div class="form-group">
                                    <textarea rows="3"  class="form-control" formControlName="about" placeholder="Enter description of organization" ></textarea>
                                    <div *ngIf="formData['about'].invalid && (formData['about'].dirty || formData['about'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['about'].errors?.['required']">
                                            About required
                                        </ng-container>
                                        <ng-container *ngIf="formData['about'].errors?.['pattern']">
                                            Valid about required
                                        </ng-container>
                                        <ng-container *ngIf="formData['about'].errors?.['maxlength']">
                                            Maximum 150 characters allowed
                                        </ng-container>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- </form>
                </div>
                <div class="create-form-wrap"> -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="create-form-he">
                                <h2>Contact  Information</h2>
                            </div>
                        </div>
                    </div>
                    <!-- <form> -->
                    <div class="row">
                        <!-- <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Email*</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="email" placeholder="Enter email" >
                                    <div *ngIf="formData['email'].invalid && (formData['email'].dirty || formData['email'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['email'].errors?.['required']">
                                            Email required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Website</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="website" placeholder="Enter website">
                                    <div *ngIf="formData['website'].invalid && (formData['website'].dirty || formData['website'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['website'].errors?.['required']">
                                            Website required
                                        </ng-container>
                                        <ng-container *ngIf="formData['website'].errors?.['pattern']">
                                            Valid website required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Mobile</label>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="autoSizingInput" formControlName="mobile" placeholder="Enter mobile number">
                                    <div *ngIf="formData['mobile'].invalid && (formData['mobile'].dirty || formData['mobile'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['mobile'].errors?.['required']">
                                            Mobile required
                                        </ng-container>
                                        <ng-container *ngIf="formData['mobile'].errors?.['pattern']">
                                            Valid phone number required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Fax</label>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="autoSizingInput" formControlName="fax" placeholder="Enter fax number">
                                    <div *ngIf="formData['fax'].invalid && (formData['fax'].dirty || formData['fax'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['fax'].errors?.['required']">
                                            Fax required
                                        </ng-container>
                                        <ng-container *ngIf="formData['fax'].errors?.['pattern']">
                                            Valid fax required
                                        </ng-container>
                                        <ng-container *ngIf="formData['fax'].errors?.['minlength'] || formData['fax'].errors?.['maxlength']">
                                            Fax length in between 10 to 13 numbers
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Phone number</label>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="autoSizingInput" formControlName="phone" placeholder="Enter phone number">
                                    <div *ngIf="formData['phone'].invalid && (formData['phone'].dirty || formData['phone'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['phone'].errors?.['required']">
                                            Phone required
                                        </ng-container>
                                        <ng-container *ngIf="formData['phone'].errors?.['pattern']">
                                            Valid phone number required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- </form>
                </div>
                <div class="create-form-wrap"> -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="create-form-he">
                                <h2>Address Infomation</h2>
                            </div>
                        </div>
                    </div>

                    <!-- <form > -->
                    <div class="row">
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Street</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="street" placeholder="Enter street">
                                    <div *ngIf="formData['street'].invalid && (formData['street'].dirty || formData['street'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['street'].errors?.['required']">
                                            Street required
                                        </ng-container>
                                        <ng-container *ngIf="formData['street'].errors?.['pattern']">
                                            Valid street required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">State</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="state" placeholder="Enter state">
                                    <div *ngIf="formData['state'].invalid && (formData['state'].dirty || formData['state'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['state'].errors?.['required']">
                                            State required
                                        </ng-container>
                                        <ng-container *ngIf="formData['state'].errors?.['pattern']">
                                            Valid state required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">City</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="city" placeholder="Enter city">
                                    <div *ngIf="formData['city'].invalid && (formData['city'].dirty || formData['city'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['city'].errors?.['required']">
                                            City required
                                        </ng-container>
                                        <ng-container *ngIf="formData['city'].errors?.['pattern']">
                                            Valid city required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Zip</label>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="autoSizingInput" formControlName="zip" placeholder="Enter zip">
                                    <div *ngIf="formData['zip'].invalid && (formData['zip'].dirty || formData['zip'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['zip'].errors?.['required']">
                                            Zip required
                                        </ng-container>
                                        <ng-container *ngIf="formData['zip'].errors?.['pattern']">
                                            Zip required numbers
                                        </ng-container>
                                        <ng-container *ngIf="formData['zip'].errors?.['maxlength'] || formData['zip'].errors?.['minlength']">
                                            Valid zip required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                            <div class="form-group-wrap">
                                <label  for="inlineFormInputGroupUsername">Country</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="autoSizingInput" formControlName="country" placeholder="Enter country">
                                    <div *ngIf="formData['country'].invalid && (formData['country'].dirty || formData['country'].touched || isFormValid)" class="required-txt-error">
                                        <ng-container *ngIf="formData['country'].errors?.['required']">
                                            Country required
                                        </ng-container>
                                        <ng-container *ngIf="formData['country'].errors?.['pattern']">
                                            Valid country required
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <!-- <div class="form-group-btn">
                                <a href="user-list.html" class="btn btn-theme">Next</a>
                            </div> -->
                            <div class="form-group-btn-center">
                                <a (click)="editLocation ? onEditForm() :onSubmit() " class="btn btn-theme">{{editLocation ? 'Edit' : 'Save'}}</a>
                                <a routerLink="/dashboard-detail/location-detail" class="btn btn-theme-two">Cancel</a>
                              </div>
                        </div>
                    </div>
                    </form>
                    
                </div>

            </div>
</div>