<aside>
    <div class="logo-aside">
        <h3>logo</h3>
    </div>
    <div class="aside timeline">
        <div class="step" [ngClass]="{'step-active' : location_list && location_list.length > 0}">
            <div>
                <div class="status" [ngClass]="{'in-progress' : location_list && location_list.length > 0}">
                    <span>{{location_list && location_list.length > 0 ? 'Completed' : 'Pending'}}</span>
                </div>
            </div>
            <div routerLink="location-detail">
                <div class="circle">
                    <span class="under-circle">1</span>

                </div>
            </div>
            <div>
                <div class="title">Add Location</div>
                <div class="caption">Step description</div>
            </div>
        </div>
        <div class="step " [ngClass]="{'step-active' : user_list && user_list.length > 0}">
            <div>
                <div class="status" [ngClass]="{'in-progress' : user_list && user_list.length > 0}"> <span>{{user_list
                        && user_list.length > 0 ? 'Completed' : 'Pending'}}</span></div>
            </div>
            <div routerLink="user-detail">
                <div class="circle">
                    <span class="under-circle">2</span>
                </div>
            </div>
            <div>
                <div class="title">Add User</div>
                <div class="caption">Step description</div>
            </div>
        </div>

    </div>
    <div class="skip-btn" routerLink="/dashboard-detail">
        <a class="btn btn-theme">
            <button id="skip-btn" style="border: 0px; background-color: transparent; color : #fff">Skip</button>
        </a>
    </div>

    <div class="skip-btn logout" (click)="onLogout()">
        <a class="btn btn-theme">
            <button id="skip-btn" style="border: 0px; background-color: transparent; color : #fff">Log Out</button>
        </a>
    </div>

</aside>