a.btn.btn-secondary.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.name-box {
    background-color: aqua;
    /* Adjust color as needed */
    padding: 2px 5px;
    border: 1px solid black;
    /* Adjust border as needed */
}