<div class="location-sec-bdy">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading">
                <h3>Candidate List </h3>
            </div>
        </div>
    </div>
    <div class="search-sec-bdy">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex  search-filter-main" role="search">
                    <img src="assets/images/search-grey.svg" alt="icon" class="img-fluid">
                    <input class="form-control" type="search" placeholder="Search here . . ." aria-label="Search">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-end">
                <a class="btn btn-create " routerLink="add">
                    <i class="fa-solid fa fa-plus"></i> Add Candidate </a>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-responsive" style="height: 631px">
            <table class="table table-tamplate-style table-user" >
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col">Location </th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr class="text-center">
                        <td colspan="7">
                            <button class="btn btn-add-doc" routerLink="add-user">No Record Found</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>