<div class="location-sec-bdy">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading">
                <h3>Candidate List </h3>
            </div>
        </div>
    </div>
    <div class="search-sec-bdy">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex  search-filter-main" role="search">
                    <img src="assets/images/search-grey.svg" alt="icon" class="img-fluid">
                    <input class="form-control" type="search" placeholder="Search here . . ." type="text"
                        [(ngModel)]="searchString" (ngModelChange)="this.searchValue.next($event)" aria-label="Search">
                </div>
            </div>
            @if(permissions.canAdd){
                <div class="col-lg-6 col-sm-12 text-end">
                    <a routerLink="add" class="btn btn-create ">
                        <i class="fa-solid fa fa-plus"></i> Add Candidate </a>
                </div>
            }
            
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()" [scrollWindow]="false">
            <table class="table table-tamplate-style table-user">
                <thead>
                    <tr>
                        <th scope="col">List Of Users</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cand of candidateList(); track $index) {
                    <tr>
                        <td class="fonts-n3 user-img-desc">
                            <span class="image-user-name"> {{cand?.name}}</span>
                        </td>
                        <td class="fonts-n3">
                            <span class="txt-tb">{{cand?.created_at | date: 'MM/dd/yyyy'}}</span>
                        </td>
                        <td class="status-font background-grey-table">
                            <div class="statuslabel completed-bages" *ngIf="cand?.status == 1">Active </div>
                            <div class="statuslabel deactive-bages" *ngIf="cand?.status == 0">Deactive </div>
                        </td>
                        <td class="action_button">
                            <div class="actiondelete-button">

                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="javascript:void(0)" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Edit Details
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="edit" [queryParams]="{id:cand?.id}"
                                                href="javascript:void(0)">Edit Candidate</a></li>
                                        <li><a class="dropdown-item" routerLink="edit"
                                                [queryParams]="{id:cand?.id, section : 'edit-emp'}"
                                                href="javascript:void(0)">
                                                Employee History</a></li>
                                        <li><a class="dropdown-item" routerLink="edit"
                                                [queryParams]="{id:cand?.id, section : 'edit-edu'}"
                                                href="javascript:void(0)">
                                                Education Details</a></li>
                                        <li><a class="dropdown-item" routerLink="edit"
                                                [queryParams]="{id:cand?.id, section : 'edit-cert'}"
                                                href="javascript:void(0)">
                                                Certificate</a></li>
                                        <li><a class="dropdown-item" routerLink="edit"
                                                [queryParams]="{id:cand?.id, section : 'edit-doc'}"
                                                href="javascript:void(0)">
                                                Resume</a></li>
                                        <li><a class="dropdown-item" (click)="deleteCandidate(cand?.id)"
                                                href="javascript:void(0)">Delete</a></li>
                                    </ul>
                                </div>

                                <!-- <a routerLink="edit" [queryParams]="{id:cand?.id}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">
                                    <img src="assets/images/edit-2white.svg" class="img-fluid selected-white-icon">
                                </a>
                                <a (click)="deleteCandidate(cand?.id)">
                                    <img src="assets/images/trash-2.svg" class="img-fluid unselected-icon">
                                    <img src="assets/images/trash-2white.svg" class="img-fluid selected-white-icon">
                                </a>
                                <a routerLink="edit" [queryParams]="{id:cand?.id, section : 'edit-emp'}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">emp
                                </a>
                                <a routerLink="edit" [queryParams]="{id:cand?.id, section : 'edit-edu'}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">edu
                                </a>
                                <a routerLink="edit" [queryParams]="{id:cand?.id, section : 'edit-cert'}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">cert
                                </a>
                                <a routerLink="edit" [queryParams]="{id:cand?.id, section : 'edit-doc'}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">doc
                                </a> -->
                            </div>
                        </td>
                    </tr>
                    } @empty {

                    <tr class="text-center">
                        <td colspan="7">
                            <button class="btn btn-add-doc">No Record Found</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>