<div class="location-sec-bdy">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading">
                <h3>Module</h3>
            </div>
        </div>
    </div>
    <div class="search-sec-bdy">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex  search-filter-main" role="search">
                    <img src="assets/images/search-grey.svg" alt="icon" class="img-fluid">
                    <input class="form-control" placeholder="Search here . . ." aria-label="Search" [formControl]="searchKeyword">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-end">
                <a routerLink="add" class="btn btn-create ">
                    <i class="fa-solid fa fa-plus"></i> Add Module </a>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-responsive" style="height: 631px"  [scrollWindow]="false" infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
            <table class="table table-tamplate-style table-user">
                <thead>
                    <tr>
                        <th scope="col">List Of Module</th>
                        <!-- <th scope="col">Description</th> -->
                        <!-- <th scope="col">Status</th> -->
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                     @if(moduleList && moduleList.length){
                        <tr *ngFor="let module of moduleList">
                            <td class="fonts-n3 user-img-desc">
                                <!-- <span class="image-user"><img src="assets/images/Ellipseu1.png" alt="Profile image 1"
                                        class="user_img"></span> -->
                                <span class="image-user-name">{{module?.module_name}}</span>
                            </td>
                            <!-- <td class="fonts-n3">
                                <span class="txt-tb">{{module?.module_description}}</span>
                            </td> -->
                            <!-- <td class="status-font background-grey-table">
                                <div class="statuslabel completed-bages" *ngIf="module?.status == true">Active </div>
                                <div class="statuslabel deactive-bages" *ngIf="module?.status == false">Deactive </div>
                            </td> -->
                            <td class="action_button">
                                <div class="actiondelete-button">
                                    <a routerLink="edit" [queryParams]="{id:module?.id}">
                                        <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">
                                        <img src="assets/images/edit-2white.svg" class="img-fluid selected-white-icon">
                                    </a>
                                    <a (click)="deleteModule(module?.id)">
                                        <img src="assets/images/trash-2.svg" class="img-fluid unselected-icon">
                                        <img src="assets/images/trash-2white.svg" class="img-fluid selected-white-icon">
                                    </a>
                                </div>
                            </td>
                        </tr>
                     }@else{
                        <tr class="text-center">
                            <td colspan="7">
                                <button class="btn btn-add-doc">No Record Found</button>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>