<section class="admin-panel">

    <header></header>

    <app-sidebar></app-sidebar>
    <main>
        <!-- @defer{ -->
        <!-- <app-location-detail *ngIf="(current_status.location == 0 && current_status.user == 0) || (current_status.location == 0 && current_status.user == 1)"></app-location-detail> -->

        <!-- <app-user-detail *ngIf="(current_status.location == 1 && current_status.user == 0)"></app-user-detail> -->
        <!-- } -->
        <router-outlet></router-outlet>
    </main>
</section>