<section class="create-wrapper">
    <div class="row">
        <div class="col-xl-11 m-auto">
            <div class="create-form-body ">
                <div class="create-inner">
                    <div class="create-heading-bdy">
                        <div class="create-heading-txt">
                            <h3>Create User List</h3>
                        </div>
                        <div class="create-logo">
                            <h1>ATS Covetus</h1>
                        </div>
                    </div>
                    <div class="create-md-content">
                        <div class="create-form-wrap">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="create-form-he">
                                        <h2>General Information</h2>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">First Name*</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="Smith">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Last Name*</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="Smith">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Date of Birth</label>
                                            <div class="form-group">
                                                <input type="Date" class="form-control" id="autoSizingInput"
                                                    placeholder="Smith">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            <!-- </form>
                        </div>
                        <div class="create-form-wrap"> -->

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="create-form-he">
                                        <h2>Contact Information</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- <form> -->
                                <div class="row">
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Email*</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="smithexample.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Website</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="evergreenv.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Mobile</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="(555) 555-5555">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Fax</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="(555) 123-4567">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Phone number</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="+91 12345 67890">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- </form>
                        </div>
                        <div class="create-form-wrap"> -->

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="create-form-he">
                                        <h2>Address Infomation</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- <form> -->
                                <div class="row">
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Street</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="123, Main Street,">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">State</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="Karnataka">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">City</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="Indore">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Zip</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="560001">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Country</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="India">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group-btn">
                                            <a href="email-screen.html" class="btn btn-theme">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>