<section class="create-wrapper">
    <div class="row">
        <div class="col-xl-11 m-auto">
            <div class="create-form-body ">
                <div class="create-inner">
                    <div class="create-heading-bdy">
                        <div class="create-heading-txt">
                            <h3>{{ forEdit() ? 'Edit' : 'Create' }} Organization</h3>
                        </div>
                        <div class="create-logo">
                            <h1>ATS Covetus</h1>
                        </div>
                    </div>
                    <div class="create-md-content">
                        <div class="create-form-wrap">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="create-form-he">
                                        <h2>General Information</h2>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="organizationForm">
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-md-12">
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-10">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Organization Name*</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="autoSizingInput"
                                                        [ngClass]="forEdit() ? 'disabledImgSelect':''"
                                                        placeholder="Enter organization name" formControlName="name">
                                                    <div *ngIf="(formData['name']?.invalid && (formData['name'].touched || formData['name'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['name'].errors?.['required']">
                                                            Name required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['name'].errors?.['minlength']">
                                                            Name must contain atleast 2 characters
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['name'].errors?.['pattern']">
                                                            Valid name required
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-10">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">About</label>
                                                <div class="form-group">
                                                    <textarea rows="3" class="form-control" formControlName="about"
                                                        placeholder="Enter description"></textarea>
                                                    <div *ngIf="(formData['about']?.invalid && (formData['about'].touched || formData['about'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['about'].errors?.['required']">
                                                            About required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['about'].errors?.['pattern']">
                                                            Valid about required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['about'].errors?.['maxlength']">
                                                            Maximum 150 characters allowed
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 col-md-6"
                                        [ngClass]="imgURLBase64() ? 'disabledImgSelect':''">
                                        <div class="col-12 col-lg-12 col-md-12 col-xl-12">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Logo</label>
                                                <div class="form-group">
                                                    <div class="form">
                                                        <div class="dropzone" fileDragDrop
                                                            (filesChangeEmiter)="onFileChange($event)">
                                                            <div class="text-wrapper">
                                                                <div class="centered">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="50"
                                                                        height="35" fill="currentColor"
                                                                        class="bi bi-upload" viewBox="0 0 16 16"
                                                                        style="color: #559AFF;margin-bottom: 6px;">
                                                                        <path
                                                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                                                        <path
                                                                            d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="centered">
                                                                    <input type="file" name="file" id="file"
                                                                        (change)="onFileChange($event)"
                                                                        formControlName="logo"
                                                                        accept=".png, .jpg, .jpeg">
                                                                    <label for="file" class="dropFile"><span
                                                                            class="textLink">Browser</span></label>
                                                                </div>
                                                                <div class="centered">
                                                                    <span class="dropFile">drop a file here</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="(formData['logo']?.invalid && (formData['logo'].touched || formData['logo'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container *ngIf="formData['logo'].errors?.['required']">
                                                                Organization logo required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 col-md-6">
                                        @if (imgURLBase64()) {
                                        <div class="col-12 col-lg-4 col-md-12 col-xl-5">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Selected Logo</label>
                                                <div class="logo_edit">
                                                    <button class="btn btn-danger btn-design"
                                                        (click)="CrossBtn()">X</button>
                                                    <img src="{{imgURLBase64()}}" class="file-preview" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                                <!-- </form> -->
                                <!-- </form> -->
                                <!-- </div> -->
                                <!-- </div> -->
                                <div class="create-form-wrap">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="create-form-he">
                                                <h2>Contact Information</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <form> -->
                                    <div class="row">
                                        <!-- <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                                        <div class="form-group-wrap">
                                            <label for="inlineFormInputGroupUsername">Email*</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="autoSizingInput"
                                                    placeholder="Enter Email" formControlName="" >
                                            </div>
                                        </div>
                                    </div> -->
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Website</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="autoSizingInput"
                                                        placeholder="Enter website" formControlName="website">
                                                    <div *ngIf="(formData['website']?.invalid && (formData['website'].touched || formData['website'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['website'].errors?.['required']">
                                                            Website required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['website'].errors?.['pattern']">
                                                            Valid website required
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Mobile</label>
                                                <div class="form-group">
                                                    <input type="tel" class="form-control" id="autoSizingInput"
                                                        placeholder="Enter mobile number" formControlName="mobile">
                                                    <div *ngIf="(formData['mobile']?.invalid && (formData['mobile'].touched || formData['mobile'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['mobile'].errors?.['required']">
                                                            Mobile required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['mobile'].errors?.['pattern']">
                                                            Valid phone number required
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Fax</label>
                                                <div class="form-group">
                                                    <input type="tel" class="form-control" id="autoSizingInput"
                                                        placeholder="Enter fax number" formControlName="fax">
                                                    <div *ngIf="(formData['fax']?.invalid && (formData['fax'].touched || formData['fax'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['fax'].errors?.['pattern']">
                                                            Valid fax required
                                                        </ng-container>
                                                        <ng-container
                                                            *ngIf="formData['fax'].errors?.['minlength'] || formData['fax'].errors?.['maxlength']">
                                                            Fax length in between 10 to 13 numbers
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 col-xl-4">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Phone number</label>
                                                <div class="form-group">
                                                    <input type="tel" class="form-control" id="autoSizingInput"
                                                        placeholder="Enter phone number" formControlName="phone">
                                                    <div *ngIf="(formData['phone']?.invalid && (formData['phone'].touched || formData['phone'].dirty || isFieldsValid()))"
                                                        class="required-txt-error">
                                                        <ng-container *ngIf="formData['phone'].errors?.['required']">
                                                            Phone required
                                                        </ng-container>
                                                        <ng-container *ngIf="formData['phone'].errors?.['pattern']">
                                                            Valid phone number required
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </form> -->

                                    <!-- </div> -->
                                    <div class="create-form-wrap">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="create-form-he">
                                                    <h2>Address Infomation</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <form> -->
                                        <div class="row">
                                            <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">Street</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="autoSizingInput"
                                                            placeholder="Enter street name" formControlName="street">
                                                        <div *ngIf="(formData['street']?.invalid && (formData['street'].touched || formData['street'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container
                                                                *ngIf="formData['street'].errors?.['required']">
                                                                Street required
                                                            </ng-container>
                                                            <ng-container
                                                                *ngIf="formData['street'].errors?.['pattern']">
                                                                Valid street required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">State</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="autoSizingInput"
                                                            placeholder="Enter state name" formControlName="state">
                                                        <div *ngIf="(formData['state']?.invalid && (formData['state'].touched || formData['state'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container
                                                                *ngIf="formData['state'].errors?.['required']">
                                                                State required
                                                            </ng-container>
                                                            <ng-container *ngIf="formData['state'].errors?.['pattern']">
                                                                Valid state required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">City</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="autoSizingInput"
                                                            placeholder="Enter city name" formControlName="city">
                                                        <div *ngIf="(formData['city']?.invalid && (formData['city'].touched || formData['city'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container *ngIf="formData['city'].errors?.['required']">
                                                                City required
                                                            </ng-container>
                                                            <ng-container *ngIf="formData['city'].errors?.['pattern']">
                                                                Valid city required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">Zip</label>
                                                    <div class="form-group">
                                                        <input type="tel" class="form-control" id="autoSizingInput"
                                                            placeholder="Enter zip" formControlName="zip">
                                                        <div *ngIf="(formData['zip']?.invalid && (formData['zip'].touched || formData['zip'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container *ngIf="formData['zip'].errors?.['required']">
                                                                Zip required
                                                            </ng-container>
                                                            <ng-container *ngIf="formData['zip'].errors?.['pattern']">
                                                                Zip required numbers
                                                            </ng-container>
                                                            <ng-container
                                                                *ngIf="formData['zip'].errors?.['maxlength'] || formData['zip'].errors?.['minlength']">
                                                                Valid zip required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-md-4 col-xl-4">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">Country</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="autoSizingInput"
                                                            placeholder="Enter country" formControlName="country">
                                                        <div *ngIf="(formData['country']?.invalid && (formData['country'].touched || formData['country'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container
                                                                *ngIf="formData['country'].errors?.['required']">
                                                                Country required
                                                            </ng-container>
                                                            <ng-container
                                                                *ngIf="formData['country'].errors?.['pattern']">
                                                                Valid country required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group-btn">
                                                    <a class="btn btn-theme"
                                                        (click)="forEdit() ? onEdit() : onSubmit()">{{
                                                        forEdit() ? 'Edit' : 'Submit'}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>