<div class="row">
    <div class="col-xl-11 m-auto">
        <div class="create-form-body ">
            <div class="create-inner">
                <div class="create-heading-bdy">
                    <div class="create-heading-txt">
                        @if(team_id() == -1){
                        <h3>{{ Teamedit() ? 'Edit':'Create' }} Team List</h3>

                        } @else{<h3>Assign Team Members</h3>}
                        <!-- <div class="on-off-bdy">
                            <div class="inactact-pop-bdy">
                                <label class="form-check-label inactive-txt">inactive</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input " type="checkbox" id="status" [(ngModel)]="isActive"
                                        role="switch" checked="">
                                    <label class="form-check-label active-txt">Active</label>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="create-logo">
                        <h1>ATS Covetus</h1>
                    </div>
                </div>
                <div class="create-md-content">
                    <div class="create-form-wrap">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="create-form-he">
                                    <h2>General Information</h2>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="teamForm">
                            <div class="row">
                                <div class="col-12 col-lg-4 col-md-4 col-xl-6">
                                    <div class="form-group-wrap">
                                        <label for="inlineFormInputGroupUsername">Name*</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="autoSizingInput"
                                                formControlName="name" placeholder="Enter name">
                                            <div *ngIf="(formData['name'].invalid && (formData['name'].touched || formData['name'].dirty || isFieldsValid()))"
                                                class="required-txt-error">
                                                <ng-container *ngIf="formData['name'].errors?.['required']">
                                                    Name required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 col-md-4 col-xl-6">
                                    <div class="form-group-wrap">
                                        <label for="inlineFormInputGroupUsername">About*</label>
                                        <div class="form-group">
                                            <textarea rows="3" class="form-control" formControlName="about"
                                                placeholder="Enter description here"></textarea>
                                            <div *ngIf="(formData['about'].invalid && (formData['about'].touched || formData['about'].dirty || isFieldsValid()))"
                                                class="required-txt-error">
                                                <ng-container *ngIf="formData['about'].errors?.['required']">
                                                    About required
                                                </ng-container>
                                                <ng-container *ngIf="formData['about'].errors?.['maxlength']">
                                                    Maximum 150 characters allowed
                                                </ng-container>
                                                <ng-container *ngIf="formData['about'].errors?.['pattern']">
                                                    Valid description required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 col-md-4 col-xl-12">
                                    <div class="row">
                                        <div class="col-6 col-lg-4 col-md-4 col-xl-6"
                                            [ngClass]="imgURLBase64() ? 'disabledImgSelect':''">
                                            <div class="form-group-wrap">
                                                <label for="inlineFormInputGroupUsername">Logo</label>
                                                <div class="form-group">
                                                    <div class="form">
                                                        <div class="dropzone" fileDragDrop
                                                            (filesChangeEmiter)="onFileChange($event)">
                                                            <div class="text-wrapper">
                                                                <div class="centered">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="50"
                                                                        height="35" fill="currentColor"
                                                                        class="bi bi-upload" viewBox="0 0 16 16"
                                                                        style="color: #559AFF;margin-bottom: 6px;">
                                                                        <path
                                                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                                                        <path
                                                                            d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="centered">
                                                                    <input type="file" name="file" id="file"
                                                                        (change)="onFileChange($event)"
                                                                        formControlName="logo">
                                                                    <label for="file" class="dropFile"><span
                                                                            class="textLink">Browser</span></label>
                                                                </div>
                                                                <div class="centered">
                                                                    <span class="dropFile">drop a file here</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="(formData['logo'].invalid && (formData['logo'].touched || formData['logo'].dirty || isFieldsValid()))"
                                                            class="required-txt-error">
                                                            <ng-container *ngIf="formData['logo'].errors?.['required']">
                                                                logo required
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-4 col-md-4 col-xl-6">
                                            @if (imgURLBase64()) {
                                            <div class="col-12 col-lg-4 col-md-12 col-xl-5">
                                                <div class="form-group-wrap">
                                                    <label for="inlineFormInputGroupUsername">Selected Logo</label>
                                                    <div class="logo_edit">
                                                        <button class="btn btn-danger btn-design"
                                                            (click)="CrossBtn()">X</button>
                                                        <img src="{{imgURLBase64()}}" class="file-preview" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-12">
                                    <div class="form-group-btn-center">
                                        <a class="btn btn-theme"
                                            (click)="Teamedit() ? onEditTeam() : onFormSubmit()">{{Teamedit() ?
                                            'Edit':'Save'}}</a>
                                        <a routerLink="/dashboard-detail/team" class="btn btn-theme-two">Cancel</a>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <div class="create-form-wrap">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="create-form-he">
                                    <h2>Assign Team Users</h2>
                                </div>
                            </div>
                        </div>

                        <!-- <form [formGroup]="assignUserForm"> -->
                        <div class="row ">
                            <div class="col-12">
                                <form [formGroup]="assignUserForm">
                                    <div class="row ">
                                        <div class="table-wrapper">
                                            <div class="table-responsive">
                                                <table class="table table-tamplate-style table-user">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Id</th>
                                                            <th scope="col">Role</th>
                                                            <th scope="col">User</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="userList">
                                                        @for (user of userList.controls; track i; let
                                                        i=$index)
                                                        {
                                                        <tr [formGroupName]="i">
                                                            <td class="fonts-n3 user-img-desc">
                                                                <div class="form-check">
                                                                    <!-- <input class="form-check-input" type="checkbox"
                                                                        [value]='user?.id' id="flexCheckDefault"
                                                                        [disabled]="user?.is_owner == true"
                                                                        (change)="onCheckChange($event)"> -->
                                                                    {{i + 1}}
                                                                </div>
                                                            </td>
                                                            <td class="fonts-n3">
                                                                <div class="form-group-wrap">
                                                                    <div class="form-group ">
                                                                        <select class="form-control"
                                                                            formControlName="role"
                                                                            (change)=selectedRole($event)>
                                                                            @if(editedRoleList() &&
                                                                            editedRoleList().length > 0){

                                                                            <option value="" hidden selected>
                                                                                {{(editedRoleList() &&
                                                                                editedRoleList().length
                                                                                >
                                                                                0) ?(getRoleValue(i) != 'false' ?
                                                                                getRoleValue(i) : 'Role Selected')
                                                                                :'No
                                                                                role
                                                                                found'}}</option>
                                                                            @for (role of editedRoleList(); track
                                                                            $index){
                                                                            <option *ngIf="role?.role_name != 'Admin'"
                                                                                [value]="role?.id">
                                                                                {{role?.role_name}}</option>
                                                                            }
                                                                            } @else {
                                                                            <option value="" hidden selected>
                                                                                Select Role</option>
                                                                            @for (role of role_list(); track
                                                                            $index){
                                                                            <option *ngIf="role?.role_name != 'Admin'"
                                                                                [value]="role?.id">
                                                                                {{role?.role_name}}</option>
                                                                            }
                                                                            }
                                                                        </select>
                                                                        <!-- <div *ngIf="(formData['name'].invalid && (formData['name'].touched || formData['name'].dirty || isFieldsValid()))"
                                                                    class="required-txt-error">
                                                                    <ng-container *ngIf="formData['name'].errors?.['required']">
                                                                        Name required
                                                                    </ng-container>
                                                                </div> -->
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="status-font background-grey-table">
                                                                <div class="form-group-wrap">
                                                                    <div class="form-group ">
                                                                        <ng-multiselect-dropdown
                                                                            [placeholder]="'Select User'"
                                                                            [settings]="dropdownSettings"
                                                                            [data]="getDataValues()"
                                                                            formControlName="user_id"
                                                                            (onSelect)="onItemSelect($event)">
                                                                        </ng-multiselect-dropdown>
                                                                        <!-- <select class="form-control">
                                                                            @if(assignUserForm.value.userList[i].role){
                                                                            <option value="" hidden selected>
                                                                                {{(filteredUser() &&
                                                                                filteredUser().length
                                                                                >
                                                                                0) ? 'Select
                                                                                Role':'No role
                                                                                found'}}</option>
                                                                            @for (item of filteredUser(); track
                                                                            $index){
                                                                            <option *ngIf="item?.role_name != 'Admin'"
                                                                                [value]="item?.id">
                                                                                {{item?.f_name +" "+item?.l_name}}
                                                                            </option>}
                                                                            } @else {

                                                                            <option value="" hidden selected>
                                                                                {{(user_list() && user_list().length
                                                                                >
                                                                                0) ? 'Select
                                                                                Role':'No role
                                                                                found'}}</option>
                                                                            @for (item of user_list(); track
                                                                            $index){
                                                                            <option *ngIf="item?.role_name != 'Admin'"
                                                                                [value]="item?.id">
                                                                                {{item?.f_name +" "+item?.l_name}}
                                                                            </option>
                                                                            }
                                                                            }
                                                                        </select> -->
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <!-- <td class="fonts-n3">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        role="switch" id="flexSwitchCheckChecked"
                                                                        checked (change)="onCheckStatus($event, i)">

                                                                </div>
                                                            </td> -->
                                                            <td class="action_button">
                                                                <div class="actiondelete-button">
                                                                    <a (click)="deleteFromForm(i)">
                                                                        <img src="assets/images/trash-2.svg"
                                                                            class="img-fluid unselected-icon">
                                                                        <img src="assets/images/trash-2white.svg"
                                                                            class="img-fluid selected-white-icon">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <div class="text-end col-lg-12 col-sm-12" (click)="addUser()">
                                                    <a class="btn btn-create ">
                                                        <i class="fa-solid fa fa-plus"></i> Add User </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group-btn-center">
                                    <a class="btn btn-theme" (click)="assignUserTeam()">Assign</a>
                                    <a routerLink="/dashboard-detail/team" class="btn btn-theme-two">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>