@if(isDetailSide){
<aside>
  <div class="row">
    <div class="col">
      <div class="logo-aside">
        <h3>logo</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="aside-menu">
        <ul>
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="dashboard"><img src="assets/images/side-icon/job.svg"
                                        class="img-side-icon">Dashboard </a>
                            </div>
                        </li> -->
          <li>
            <div class="dropdown btn-group">
              <a routerLink="location-detail"
                ><img
                  src="assets/images/side-icon/setting.svg"
                  class="img-side-icon"
                />Location
              </a>
            </div>
          </li>
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="client-detail"><img src="assets/images/side-icon/client.svg"
                                        class="img-side-icon">Client
                                </a>
                            </div>
                        </li> -->
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="industry"><img src="assets/images/side-icon/client.svg"
                                        class="img-side-icon">Industry
                                </a>
                            </div>
                        </li> -->
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="department"><img src="assets/images/side-icon/client.svg"
                                        class="img-side-icon">Department
                                </a>
                            </div>
                        </li> -->
        
          <li>
            <div class="dropdown btn-group">
              <a routerLink="user-detail"
                ><img
                  src="assets/images/side-icon/client.svg"
                  class="img-side-icon"
                />User
              </a>
            </div>
          </li>
          <li>
            <div class="dropdown btn-group">
              <a routerLink="candidate-detail"
                ><img
                  src="assets/images/side-icon/client.svg"
                  class="img-side-icon"
                />Candidate
              </a>
            </div>
          </li>
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="job"><img src="assets/images/side-icon/job.svg" class="img-side-icon">Job </a>
                            </div>
                        </li> -->
          <li>
            <div class="dropdown btn-group">
              <a routerLink="team"
                ><img
                  src="assets/images/side-icon/job.svg"
                  class="img-side-icon"
                />Teams</a
              >
            </div>
          </li>
          <!-- <li>
                        <div class="dropdown btn-group">
                            <a routerLink="lob-detail"><img src="assets/images/side-icon/job.svg"
                                    class="img-side-icon">LOB</a>
                        </div>
                    </li> -->
          <!-- <li>
                        <div class="dropdown btn-group">
                            <a routerLink="work-configuration"><img src="assets/images/side-icon/job.svg"
                                    class="img-side-icon">Work Configuration</a>
                        </div>
                    </li> -->
          <!-- <li>
                        <div class="dropdown btn-group">
                            <a routerLink="work-authorization"><img src="assets/images/side-icon/job.svg"
                                    class="img-side-icon">Work Authorization</a>
                        </div>
                    </li> -->
          <li>
            <div class="dropdown btn-group">
              <a
                ><img
                  src="assets/images/side-icon/setting.svg"
                  class="img-side-icon"
                />Setting
              </a>
              <span
                class="dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="assets/images/down-arrow-close.svg"
                  alt="icon"
                  class="img-fluid img-drop-img-black"
                />
                <img
                  src="assets/images/down-arrow-open.svg"
                  alt="icon"
                  class="img-fluid img-drop-img-white"
                />
                <!-- <img src="assets/images/down-arrow-open.svg" alt="icon" class="img-fluid img-drop-open"> -->
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="lob-detail">LOB</a>
                </li>
                <li>
                  <a routerLink="work-configuration">Work Configuration</a>
                </li>
                <li>
                  <a routerLink="work-authorization">Work Authorization</a>
                </li>
                <li>
                  <a routerLink="recruits-type">Recruits Type</a>
                </li>
                <li>
                  <a routerLink="employment-type">Employment Type Form</a>
                </li>
                <li>
                  <a routerLink="custom-field">Custom Field Form</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li>
                            <div class="dropdown btn-group">
                                <a routerLink="skills"><img src="assets/images/side-icon/client.svg" class="img-side-icon">Skills</a>
                            </div>
                        </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col">
      <div class="logout" (click)="onLogout()">
        <a class="btn btn-theme">
          <button
            id="skip-btn"
            style="border: 0px; background-color: transparent; color: #fff"
          >
            Log Out
          </button>
        </a>
      </div>
    </div>
  </div>
</aside>
}@else{
<aside>
  <div class="logo-aside">
    <h3>logo</h3>
  </div>
  <div class="aside timeline">
    <div
      class="step"
      [ngClass]="{ 'step-active': location_list && location_list.length > 0 }"
    >
      <div>
        <div
          class="status"
          [ngClass]="{
            'in-progress': location_list && location_list.length > 0
          }"
        >
          <span>{{
            location_list && location_list.length > 0 ? "Completed" : "Pending"
          }}</span>
        </div>
      </div>
      <div routerLink="location-detail">
        <div class="circle">
          <span class="under-circle">1</span>
        </div>
      </div>
      <div>
        <div class="title">Add Location</div>
        <div class="caption">Step description</div>
      </div>
    </div>
    <div
      class="step"
      [ngClass]="{ 'step-active': user_list && user_list.length > 0 }"
    >
      <div>
        <div
          class="status"
          [ngClass]="{ 'in-progress': user_list && user_list.length > 0 }"
        >
          <span>{{
            user_list && user_list.length > 0 ? "Completed" : "Pending"
          }}</span>
        </div>
      </div>
      <div routerLink="user-detail">
        <div class="circle">
          <span class="under-circle">2</span>
        </div>
      </div>
      <div>
        <div class="title">Add User</div>
        <div class="caption">Step description</div>
      </div>
    </div>
  </div>
  <div class="skip-btn" (click)="skip()">
    <a class="btn btn-theme">
      <button
        id="skip-btn"
        style="border: 0px; background-color: transparent; color: #fff"
      >
        Skip
      </button>
    </a>
  </div>

  <div class="skip-btn logout" (click)="onLogout()">
    <a class="btn btn-theme">
      <button
        id="skip-btn"
        style="border: 0px; background-color: transparent; color: #fff"
      >
        Log Out
      </button>
    </a>
  </div>
</aside>
}
