<div class="location-sec-bdy">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading clb">
                <h3>Create Client</h3>
                <div class="on-off-bdy">
                    <div class="inactact-pop-bdy">
                        <label class="form-check-label inactive-txt">inactive</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input " type="checkbox" role="switch" checked="">
                            <label class="form-check-label active-txt">Active</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-md-content">
        <div class="create-form-wrap">
            <div class="row">
                <div class="col-xl-12">
                    <div class="create-form-he">
                        <h2>General Information</h2>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Name*</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput" placeholder="Enter Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Organization Name*</label>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Evergreenv</option>
                                    <option>Evergreenv</option>
                                    <option>Evergreenv</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Website</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="evergreenv.com">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">logo*</label>
                            <div class="form-group">
                                <div class="form">
                                    <div class="file-upload-wrapper" data-text="Select your file!">
                                        <input name="file-upload-field" type="file" class="file-upload-field" value="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Mobile</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Phone number </label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Fax</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">About</label>
                            <div class="form-group">
                                <textarea rows="3" class="form-control" placeholder="Description here"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <div class="create-form-wrap">
            <div class="row">
                <div class="col-xl-12">
                    <div class="create-form-he">
                        <h2>POC Information </h2>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">POC Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">POC Email</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="smith@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">POC Mobile</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">POC Phone</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="(555) 555-5555">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">POC Fax</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="evergreenv.com">
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <div class="create-form-wrap">
            <div class="row">
                <div class="col-xl-12">
                    <div class="create-form-he">
                        <h2>Address Infomation</h2>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Street</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput"
                                    placeholder="123, Main Street,">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">State</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput" placeholder="Karnataka">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">City</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput" placeholder="Indore">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Zip</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput" placeholder="560001">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-4 col-xl-4">
                        <div class="form-group-wrap">
                            <label for="inlineFormInputGroupUsername">Country</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="autoSizingInput" placeholder="India">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group-btn-center">
                            <a href="user-list.html" class="btn btn-theme">Save</a>
                            <a href="user-list.html" class="btn btn-theme-two">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>