<div class="location-sec-bdy" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="row">
        <div class="col-xl-12">
            <div class="loc-heading">
                <h3>Team List </h3>
            </div>
        </div>
    </div>
    <div class="search-sec-bdy">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex  search-filter-main" role="search">
                    <img src="assets/images/search-grey.svg" alt="icon" class="img-fluid">
                    <input class="form-control" type="search" placeholder="Search here . . ." [(ngModel)]="searchString"
                        type="text" (ngModelChange)="this.searchValue.next($event)" aria-label="Search">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-end">
                <a routerLink="add" class="btn btn-create ">
                    <i class="fa-solid fa fa-plus"></i> Add Team </a>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-responsive">
            <table class="table table-tamplate-style table-user">
                <thead>
                    <tr>
                        <th scope="col">List Of Users</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (team of teamList(); track $index) {
                    <tr>
                        <td class="fonts-n3 user-img-desc">
                            <span class="image-user"><img [ngSrc]='team?.logo' alt="No image" class="user_img"
                                    height="50" width="50"></span>
                            <span class="image-user-name"> {{team?.name ?? 'N/A'}}</span>
                        </td>
                        <td class="fonts-n3">
                            <span class="txt-tb">{{team?.created_at ? (team?.created_at | date: 'MM/dd/yyyy') :
                                'N/A'}}</span>
                        </td>
                        <td class="status-font background-grey-table">
                            <div class="statuslabel completed-bages" *ngIf="team?.status == 1">Active </div>
                            <div class="statuslabel deactive-bages" *ngIf="team?.status == 0">Deactive </div>
                        </td>
                        <td class="action_button">
                            <div class="actiondelete-button">
                                <a routerLink="edit" [queryParams]="{id:team?.id}">
                                    <img src="assets/images/edit-2.svg" class="img-fluid unselected-icon">
                                    <img src="assets/images/edit-2white.svg" class="img-fluid selected-white-icon">
                                </a>
                                <a (click)="deleteTeam(team?.id)">
                                    <img src="assets/images/trash-2.svg" class="img-fluid unselected-icon">
                                    <img src="assets/images/trash-2white.svg" class="img-fluid selected-white-icon">
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                    <tr class="text-center" *ngIf="teamList()?.length == 0">
                        <td colspan="7">
                            <button class="btn btn-add-doc">No Record Found</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>